<h2>Skybc的小站</h2>
<img src="../static/portrait.jpg" style="max-width: 100%;max-height: 100%;">
<p>这是用Flask写的简易博客网站，代码地址在<a href="https://github.com/ExCollapsar/F">Github</a>上。这虽然是练手的项目，但是会持续更新，之后会作为自己博客的框架。目前使用到的技术有：</p>
<ul>
    <li>flask-sqlalchemy</li>
    <li>flask-frozen</li>
    <li>flask-wtf</li>
    <li>flask-pagedown</li>
    <li>Blueprint</li>
</ul>
<h4>联系方式：</h4>
<ul>
    <li><a href="https://github.com/ExCollapsar">Github</a></li>
    <li><a href="mailto:skybcyang@qq.com">Email</a></li>
</ul>
<h4>友情链接：</h4>
<ul>
    <li><a href="http://118.89.161.11">鸡米花的主页</a></li>
</ul>